<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:rgb(205, 208, 206)">
        <ion-header-bar class="bar-balanced">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-null">
                <ion-item class="item-thumbnail-left balanced" id="menu-list-item1" ui-sref="menu.easyJS" menu-close=""><div id="{{perfil.foto}}"></div><span><h3>{{perfil.Nombres}}</h3></span></ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item2" ui-sref="menu.perfil" menu-close="">Mi Perfil
                    <i class="icon ion-ios-person"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item3" ui-sref="menu.wiki" menu-close="">Wiki
                    <i class="icon ion-ios-book-outline"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item4" ui-sref="menu.preguntasPorModulo" menu-close="">Programación Básica
                    <i class="icon ion-code"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item5" ui-sref="menu.preguntasPorModulo" menu-close="">Condicionales
                    <i class="icon ion-android-checkbox-outline-blank"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item6" ui-sref="menu.preguntasPorModulo" menu-close="">Bucles
                    <i class="icon ion-android-checkbox-outline-blank"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item7">Funciones
                    <i class="icon ion-android-checkbox-outline-blank"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced" id="menu-list-item8" ng-click="Salir()">Salir
                    <i class="icon ion-power"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>